{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-12">
			<h1>Countries and Universities</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	
	<div class="row padding-top padding-bottom">
		<div class="col-sm-12 col-m-4 padding-none">
			<a href="{{url_for('newCountry')}}">
				<button class="btn btn-default" id="new-country">
					Add Country
				</button>
			</a>
		</div>
	</div>

	<div class="row padding-top">
	{% for country in countries %}
		<a href = "{{url_for('showUniversities', country_id = country.id)}}">
			<div class="col-md-4 country-list text-center">
				<h3>{{country.name}}</h3>
			</div>
		</a>
	{% endfor %}
	</div>
{% endblock %}
