{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-12">
			<h1>{{ country.name }}
			<figure class="creator">
				<img src="{{ creator.picture}}">
				<figcaption>{{ creator.name }}</figcaption>
			</figure>
			</h1>

		</div>
	</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			
		</div>
		<div class="col-md-7"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>
						{% for message in messages %}
							 <li> <strong> {{ message }} </strong> </li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</div>
	</div>
	{% if schools !=[] %}	
		<div class="row">
			<div class="col-md-6">
				<h2>List of Universities</h2>
					{% for s in schools %}
						<div class="university">
						<h3>{{s.name}}</h3>
						<p>{{s.description}}</p>
						</div>
					{% endfor %}
			</div>
		</div>
		</div>
	{% endif %}
{% endblock %}
